


.child-left li{
	background:#666;
	height : 40px;
	line-height:40px;
	padding-left:15px;
}


.menu ul {
        margin: 0;
    padding: 0;
    width: 100%;
}
.menu ul li {
        display:block;
        
        margin-bottom: 5px;
}

		
.menu ul li a{
	color:#FFF;
	display: block;
	font-size: 17px;
	 
	font-weight: 300 !important;
	text-transform: capitalize;
	text-decoration:none;
}


.menu ul li a span{
                display:block;
               
}



